<form role="form" id="review_form" method="post" action="{% url 'videoplay' %}">
    <h3 class="form-signin-heading">留言</h3>
    {% csrf_token %}
    <input type="hidden" name="video_id" value="{{video.id}}">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}
    <br/><br/>
    <button class="btn btn-info" type="submit" name="submit">新增留言</button>
</form>