{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block body_block %}

  <!-- 主要內容 -->

  <h1>Welcome to <em><font color="003366"><b>VCloud</b></font></em></h1>
  <h3>Enjoy online videos and share your own ones!</h3>

  <!-- Video List -->
  {% if video_list %}
    <br>
    <h3><font color=black><em><b>Video List</b></em></font></h3>
    <div class="list-group">
      <ul class="list-group">
        {% for video in video_list %}
          <li class="list-group-item"><a href="#">
            <div id="video{{ forloop.counter }}" video-name="{{ video.name }}">
              <h3><a href="{% url 'videoplay' %}?video_id={{video.id}}"><font color=black><b>{{ video.title }}</b></font></a></h3>
              <h5><a href="{% url 'personal_videos' %}?user_id={{video.user.id}}"><img src="http://psdgraphics.com/file/user-icon.jpg" hight=25 width=25>{{ video.user }}</a></h5>
              <h5><font color=black>{{ video.views }}  views</font></h5>
              <h5><font color=gray>Published on {{ video.upload_date }}</font></h5>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
      <h2>沒有上傳影片</h2>
    {% endif %}
    <hr>


{% endblock %}

