{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Videos{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block body_block %}
  {% if personal_list %}
    <ul class="list-group">
      <h3>My Uploaded Videos</h3>
      {% for personal in personal_list %}
        <li class="list-group-item">
          <div>
            <h3><a href="{% url 'videoplay' %}?video_id={{personal.id}}"><font color=black><b>{{ personal.title }}</b></font></a></h3>
            <h4><font color=black><em>{{ personal.views }}</em> views</font></h4>
            <h4>{{ personal.description }}</h4>
            <h4><font color=gray>Published on {{ personal.upload_date }}</font></h4>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>You haven't uploaded a video yet.</h3>
  {% endif %}
  <hr>
  {% if like_list %}
    <ul class="list-group">
      <h3>My Favorite List</h3>
      {% for like in like_list %}
        <li class="list-group-item">
          <div>
            <h3><a href="{% url 'videoplay' %}?video_id={{like.id}}"><font color=black><b>{{ like.title }}</b></font></a></h3>
            <h4><font color=black><em>{{ like.views }}</em> views</font></h4>
            <h4>{{ like.description }}</h4>
            <h4><font color=gray>Published on {{ like.upload_date }}</font></h4>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>No favorite videos.</h3>
  {% endif %}

{% endblock %}