{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block body_block %}
  {% if video %}
    <h3>{% include 'vod/plugin.html' %}</h3>
    <h3>{{ video.title }}</h3>
    <h5>觀看次數: {{ video.views }}</h5>
    <h5>{{ video.description }}</h5>
    <h5>上傳時間: <small>{{ video.upload_date }}</small></h5>
    <h5 id="like_count">{{ likes_number }}<h5>
      {% if isLike %}
        <button id="like" class="btn btn-primary btn-sm" type="button" video-id="{{ video.id }}" act-type="unlike">
          <span class="glyphicon glyphicon-thumbs-down"></span>UnLike
        </button>
      {% else %}
        <button id="like" class="btn btn-primary btn-sm" type="button" video-id="{{ video.id }}" act-type="like">
          <span class="glyphicon glyphicon-thumbs-up"></span>Like
        </button>
      {% endif %}
    <hr>
    <form role="form" id="review_form" method="post" action="{% url 'videoplay' %}">
    <h3 class="form-signin-heading">留言</h3>
        {% csrf_token %}
        <input type="hidden" name="video_id" value="{{video.id}}">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <br/><br/>
        <button class="btn btn-info" type="submit" name="submit">新增留言</button>
    </form>
    <br/><br/>
    {% if reviews %}
      <ul class="list-group">
          {% for r in reviews %}
          <div>
            <li class="list-group-item">
              <div>
                <h4><a href="{% url 'personal_videos' %}?user_id={{ r.user.id }}">{{ r.user }}</a></h4><br>
                <h5 id="review-text-{{ r.id }}">{{ r.text }}</h5>
                {% if user.id == r.user.id %}
                <div id="reviewform-{{ r.id }}" style="display:none;">
                  <form id="reviewform{{ r.id }}" method="post" action="{% url 'review' %}">
                    <textarea name="content" rows=10>{{ r.text }}</textarea>
                  </form>
                </div>
                <button class="btn btn-danger" type="submit" name="submit" style="font-size: 6px" id="delete-{{ r.id }}">刪除留言</button>
                <button class="btn btn-info" type="submit" name="submit" style="font-size: 6px" id="edit-{{ r.id }}">編輯留言</button>
                <button class="btn btn-primary" type="submit" name="submit" style="display:none;font-size: 6px" id="confirm-{{ r.id }}">確定修改</button>
                {% endif %}
              </div>
              <script type="text/javascript">
                $("#confirm-{{ r.id }}").click(function(){
                  //$('#reviewform'+id_num).submit();
                  var content = $("#reviewform{{ r.id }}").find('textarea[name="content"]').val();
                  $.ajaxSetup({
                      data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
                  });
                  with ({ id_num: id_num}) {
                      $.post('/vod/review/', {'content':content, 'review_id':id_num}, function(data){
                      $('#review-text-{{ r.id }}').text(data);
                      $('#reviewform-{{ r.id }}').toggle();
                      $('#confirm-{{ r.id }}').toggle();
                      var text = $('#edit-{{ r.id }}').text();
                      if(text == "取消") {
                        $('#edit-{{ r.id }}').text("編輯留言");
                      }
                      else if(text == "編輯留言") {
                        $('#edit-{{ r.id }}').text("取消");
                      }
                    });
                  }
                });
              </script>
            </li>
          </div>
          {% endfor %}
      </ul>
    {% else %}
      <h4>沒有評論</h4>
    {% endif %}
  {% else %}
    <h4>沒有影片</h4>
  {% endif %}

  <script src="{% static "js/videoplay-ajax.js" %}"></script>
{% endblock %}