{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block body_block %}
  {% if video %}
    {% include "vod/plugin.html" with video_url=video.url %}
    <h3>{{ video.title }}</h3>
    <h5><font color=black><em>{{ video.views }}</em> views</font></h5>
    <h5>{{ video.description }}</h5>
    <h5><font color=gray>Published on {{ video.upload_date }}</font></h5>
    <h5><span id="like_count">{{ likes_number }}</span> likes</h5>
    {% if user.is_authenticated %}
      {% if isLike %}
        <button id="like" class="btn btn-primary btn-sm" type="button" video-id="{{ video.id }}" act-type="unlike">
          <span class="glyphicon glyphicon-thumbs-down"></span>UnLike
        </button>
      {% else %}
        <button id="like" class="btn btn-primary btn-sm" type="button" video-id="{{ video.id }}" act-type="like">
          <span class="glyphicon glyphicon-thumbs-up"></span>Like
        </button>
      {% endif %}
    {% endif %}
    <hr>
    {% if user.is_authenticated %}
    <form role="form" id="review_form" method="post" action="{% url 'videoplay' %}">
    <h3 class="form-signin-heading">Leave a comment</h3>
        {% csrf_token %}
        <input type="hidden" name="video_id" value="{{video.id}}">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <br/><br/>
        <button class="btn btn-info" id=review_submit>Send</button>
    </form>
    <br/><br/>
    {% endif %}
    <div id="review_part">
    {% if reviews %}
      <ul class="list-group">
          {% for r in reviews %}
          <div>
            <li class="list-group-item">
              <div>
                <h4><a href="{% url 'personal_videos' %}?user_id={{ r.user.id }}"><img src="http://psdgraphics.com/file/user-icon.jpg" hight=25 width=25>{{ r.user }}</a></h4><br>
                <h5 id="review-text-{{ r.id }}">{{ r.text }}</h5>
                {% if user.id == r.user.id %}
                <div id="reviewform-{{ r.id }}" style="display:none;">
                  <form id="reviewform{{ r.id }}" method="post" action="{% url 'review' %}">
                    <textarea name="content" rows=10>{{ r.text }}</textarea>
                  </form>
                </div>
                <button class="btn btn-danger" type="submit" name="submit" style="font-size: 9px" id="delete-{{ r.id }}">Delete</button>
                <button class="btn btn-info" type="submit" name="submit" style="font-size: 9px" id="edit-{{ r.id }}">Edit</button>
                <button class="btn btn-primary confirm-class" type="submit" name="submit" style="display:none;font-size: 9px" id="confirm-{{ r.id }}">Confirm</button>
                {% endif %}
              </div>
              <script type="text/javascript">
                $("#confirm-{{ r.id }}").click(function(){
                  //$('#reviewform'+id_num).submit();
                  var content = $("#reviewform{{ r.id }}").find('textarea[name="content"]').val();
                  $.ajaxSetup({
                      data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
                  });
                  with ({ id_num: id_num}) {
                      $.post('/vod/review/', {'content':content, 'review_id':id_num}, function(data){
                      $('#review-text-{{ r.id }}').text(data);
                      $('#reviewform-{{ r.id }}').toggle();
                      $('#confirm-{{ r.id }}').toggle();
                      var text = $('#edit-{{ r.id }}').text();
                      if(text == "Cancel") {
                        $('#edit-{{ r.id }}').text("Edit");
                      }
                      else if(text == "Edit") {
                        $('#edit-{{ r.id }}').text("Cancel");
                      }
                    });
                  }
                });
              </script>
            </li>
          </div>
          {% endfor %}
      </ul>
    {% else %}
      <h4>No Reviews</h4>
    {% endif %}
  </div>
  {% else %}
    <h4>No Videos</h4>
  {% endif %}
  <script type="text/javascript">
  $('#review_submit').click(function(e) {
        $.ajax({
            url: "{% url 'videoplay' %}",
            type:'POST',
            data: $('#review_form').serialize(),
            success: function(msg)
            {
              $('#review_form')[0].reset();
              var reviewlist =  $($.parseHTML(msg)).filter("#review_part");
              $('#review_part').html(reviewlist.html());
              $(".confirm-class").click(function(){
                  var id = $(this).attr("id");
                  id_num = id.split("-", 2)[1]
                  var content = $('#reviewform-'+id_num).find('textarea[name="content"]').val();
                  $.ajaxSetup({
                      data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
                  });
                  with ({ id_num: id_num}) {
                      $.post('/vod/review/', {'content':content, 'review_id':id_num}, function(data){
                      $('#review-text-'+id_num).text(data);
                      $('#reviewform-'+id_num).toggle();
                      $('#confirm-'+id_num).toggle();
                      var text = $('#edit-'+id_num).text();
                      if(text == "Cancel") {
                        $('#edit-'+id_num).text("Edit");
                      }
                      else if(text == "Edit") {
                        $('#edit-'+id_num).text("Cancel");
                      }
                    });
                  }
                });
              $('[id^=delete-]').click(function(){
                  var id = $(this).attr("id");
                  id_num = id.split("-", 2)[1]
                  $.get('/vod/review/', {review_id: id_num}, function(data){
                               $('#delete-'+id_num).parent().parent().remove()
                    });
                });

              $('[id^=edit-]').click(function(){
                var id = $(this).attr("id");
                id_num = id.split("-", 2)[1]

                $('#reviewform-'+id_num).toggle();
                $('#confirm-'+id_num).toggle();
                var text = $('#edit-'+id_num).text();
                if(text == "Cancel") {
                  $('#edit-'+id_num).text("Edit");
                }
                else if(text == "Edit") {
                  $('#edit-'+id_num).text("Cancel");
                }

              });
            }
        });
        e.preventDefault();
    });
  </script>
  <script src="{% static "js/videoplay-ajax.js" %}"></script>
{% endblock %}