<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

    <title>VCloud - {% block title %}Welcome{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous" >
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/vod/"><b>VCloud</b></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><form method="get" action="{% url 'search' %}" style="margin: 0">
              <input id="search_box" type="text" name="query" size =100 placeholder="Search..." style="margin-top: 0.35cm">
              <button id="search_submit" class="btn btn-primary" type="submit" style="margin-bottom: 0.1cm"/><img src="http://icons.iconarchive.com/icons/visualpharm/must-have/256/Search-icon.png" width="21" height="21"></button></form>
              </li>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'personal_videos' %}?user_id={{user.id}}">Videos</a></li>
              <li><a href="{% url 'upload' %}">Upload</a></li>
              <li><a href="{% url 'auth_logout' %}?next=/vod/">Logout</a></li>
            {% else %}
              <li><a href="{% url 'registration_register' %}">Register Here</a></li>
              <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    {% load staticfiles %}
    <script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/vod-ajax.js" %}"></script>
    <script src="{% static "js/vod-jquery.js" %}"></script>

    {% block body_block %}{% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <address>Network Programming Final Project, June 20, 2016</address>
  </body>
</html>