    body {
  	padding-left: 0em;
    color: #336699;
    background-color: #FFFFCC;
    margin-left: 5%; margin-right: 10%; }

    /*ul.navbar {
    position: absolute;
    top: 4em;
    left: 0em;
    width: 13em }*/

    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;}

    :link { color: #006633; }  /* for unvisited links */
    :visited { color: #006633; }; /*for visited links */
    a:active { color: #006633; } /* when link is clicked */
    a:hover { color: #66CC99; } /* when mouse is over link */

